set visualbell 
set noerrorbells 
set number
set relativenumber
set incsearch
set showmode

let mapleader = " "

nnoremap <leader>h :action Back<CR>
nnoremap <leader>l :action Forward<CR>

# LSP
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gs :action GotoSuperMethod<CR>
nnoremap <leader>ge :action GotoNextError<CR>
nnoremap <leader>gE :action GoToPreviousError<CR>
nnoremap <leader>gn :action SelectPreviousOccurrence<CR>
nnoremap <leader>gN :action UnselectPreviousOccurrence<CR>

# Code editing
nnoremap <leader>/ :action CommentByLineComment<CR>
vnoremap <leader>/ :action CommentByLineComment<CR>
nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>df :action ReformatCode<CR>
vnoremap <leader>df :action ReformatCode<CR>
